body {
    background-image: url("../images/cover.jpg");
    background-repeat: repeat;
    background-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

#content-container {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 20px 200px;
    overflow: hidden;
    min-width: 1000px;
    border-radius: 20px;
}

#content-left {
    float: left;
    width: 40%;
    padding: 50px 0;
}

#content-right {
    float: right;
    width: 60%;
    padding: 50px 0;
}

#content-right div {
    margin-right: 50px;
}

#cover-image {
    display: block;
    margin: auto;
}

#album-title {
    font-family: 'Abril Fatface', serif;
    font-size: 32px;
}

#release-date {
    padding: 10px 0;
    font-size: 14px;
}

#release-date-label {
    font-weight: bold;
}

.song {
    font-family: 'Abril Fatface', serif;
    padding: 5px 0;
}

.song-time {
    font-size: 14px;
}

a {
    color: #700;
    text-decoration: none;
}

a:hover {
    color: #c44;
}

#download-all {
    padding-top: 15px;
    font-size: 16px;
    font-weight: bold;
}

#download-all-file-extension {
    font-weight: bold;
    font-size: 14px;
}

#song-list {
    list-style-position: inside;
    padding-left: 0;
}

#content-right .song-details {
    margin: 15px 0 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    border: 1px solid #933;
    border-radius: 7px;
    background-color: rgba(135, 15, 15, 0.7);
}

.song-details table,
.song-details audio {
    margin-left: 10px;
}

.song-details .key {
    color: #eee;
    font-style: italic;
    font-weight: bold;
    font-size: 14px;
    width: 25%;
    height: 30px;
}

.song-details .value {
    color: #eee;
    font-style: normal;
    font-size: 14px;
}

.samples-list {
    padding-left: 0;
    list-style-type: none;
}

.song-details audio {
    padding: 20px 0;
    width: 100%;
}

.sample-song-title {
    font-style: italic;
}

.parts-list {
    font-weight: bold;
    padding-left: 0;
}

.parts-list span {
    font-weight: normal;
}

#logo_container {
    text-align: center;
    margin: auto;
    font-family: 'Abril Fatface', serif;
    font-size: 64px;
    vertical-align: middle;
}

#logo {
    vertical-align: middle;
}
